# Object files
*.o
*.d

# Static/Shared libraries
lib/
*.a
*.so

# Database directories and files (only keep the root folder itself)
src/root/*
!src/root/.gitkeep

# Build output
myclient
myserver